/* Estilização do Tabela */
table,
th,
td {
  border: none;
}

/* Estilos gerais da tabela */
table {
  border-spacing: 0;
  background-color: var(--color-white);
  border-radius: 0.8rem;
}

thead {
  background: var(--bg-gradient);
  border: none;
  color: var(--color-white);
  font-weight: var(--font-weight-medium);
  line-height: 1.875rem;
  padding: 1.4rem;
}

tbody>tr {
  border-bottom: 0.1rem solid var(--color-gray-10);
}

thead>tr>th {
  padding: 1rem;
  font-weight: var(--font-weight-medium);
  font-size: 1.6rem;
}

thead>tr>th:first-child {
  border-radius: 0.8rem 0 0 0;
}

thead>tr>th:last-child {
  border-radius: 0 0.8rem 0 0;
}

tbody>tr {
  text-align: center;
  display: grid;
}

.details-head-icon::after {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: var(--color-white);
  display: inline-block;
  border-radius: 100%;
}

.details-content-icon>svg {
  color: var(--color-primary);
}

.table-row-photo>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.details-head,
.details-content {
  display: none;
}

.details-content::before {
  content: attr(data-head);
}

.details-active {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem dotted var(--color-gray-10);
}

.row-grid {
  display: grid;

  width: 100%;
  height: fit-content;

  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;

  grid-template-areas:
    'photo name toggle-icon'
    'job job job'
    'date date date'
    'phone phone phone';

  gap: 0px;
  height: 100%;
}

.photo-grid {
  grid-area: photo;
}

.name-grid {
  grid-area: name;
}

.toggle-icon-grid {
  grid-area: toggle-icon;
}

.job-grid {
  grid-area: job;
}

.date-grid {
  grid-area: date;
}

.phone-grid {
  grid-area: phone;
}