@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset e configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte principal e variáveis de cor */
:root {
  --font-family: "Roboto", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --line-height: 1.5;

  --color-primary: #594ED2;
  --color-secondary: #5A84C0;
  --color-dark: #1C1C1C;
  --color-gray-20: #9E9E9E;
  --color-gray-10: #DFDFDF;
  --color-gray-00: #F0F0F0;
  --color-white: #FFF;

  --shadow-sm: 0px 1px 2px 0px #00000033;
  --shadow-md: 0px 2px 4px 0px #00000033;

  --bg-gradient: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
}

html {
  font-size: 62.5%;
}

/* Estrutura da página */
html,
body {
  min-height: 100vh;
  min-width: 50vw;
  background-color: var(--color-gray-00);
  color: var(--color-dark);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

/* Estilização do Header da página */

header {
  background-color: var(--color-white);
  padding: 1.2rem 2rem;
  text-align: start;

  box-shadow: var(--shadow-md);
}

/* Estilização do campo de busca */

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.8rem;
}

.search h1 {
  font-size: 2.4rem;
  font-weight: var(--font-weight-medium);
  line-height: 2.813rem;
}

.container-input {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0.8rem;
  width: 100%;
}

#search-input {
  width: 100%;
  border: none;
  padding: 1.45rem 1.6rem;
}

#search-input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.search-icon {
  padding: 1.2rem 1.6rem;
  color: var(--color-gray-10);
}

/* Header da tabela */

.table-container {
  background-color: var(--color-white);

  border-radius: 0.8rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background: var(--bg-gradient);

  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.875rem;
  color: var(--color-white);

  border-radius: 0.8rem 0.8rem 0 0;
  box-shadow: var(--shadow-sm);
}

.details-head-icon {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-white);
  border-radius: 50%;
}

.details-head,
.details {
  display: none;
}

/* Estilização da tabela */

.table-row {
  display: grid;

  grid-template-rows: auto auto auto auto;
  grid-template-columns:  auto auto auto;

  align-items: center;

  grid-template-areas:
    'photo name icon'
    'job job job'
    'date date date'
    'phone phone phone';

  border-bottom: 0.2rem solid var(--color-gray-10);
  padding: 1.2rem 1.6rem;

  height: fit-content;
  width: 100%;

  font-size: 1.6rem;
  text-align: center;
}

.table-row.active{
  row-gap: 1.6rem;
}

.table-row:last-child {
  border-bottom: none;
}

.photo {
  grid-area: photo;
  display: flex;
}

.photo > img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  grid-area: name;
}

.job {
  grid-area: job;
  padding-top: 1.6rem;
}

.date {
  grid-area: date;
}

.phone {
  grid-area: phone;
  margin-bottom: 1.6rem;
}

.icon {
  grid-area: icon;
  justify-self: self-end;
}

.icon > svg {
  color: var(--color-primary);
}

.active > .details {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem dotted var(--color-gray-10);
}

.details::before {
  content: attr(data-head);
  font-weight: var(--font-weight-bold);
}

.details-icon {
  background: none;
  border: none;
}

@media only screen and (min-width: 819px) {
  .table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table-row > * {
    width: 20%;
    display: flex;
    justify-content: start;
  }

  .details-head,
  .details {
    display: flex;
  }

  .details::before {
    content: '';
  }

  .details-head-icon, .details-icon {
    display: none;
  }

  .photo {
    display: flex;
    justify-content: flex-start;
  }

  .phone {
    margin-bottom: 0;
  }

  .job {
    padding-top: 0;
  }


  .table-header {
    justify-content: space-between;
  }

  .table-header > * {
    flex-grow: 1;
    text-align: start;
    width: 20%;
  }
}